:root {
  --usefulOrange: #fd5618;
  --textColor: #f4f1fa;
  --buttonRadius: 7px;
}
.add-todo-container {
  margin-bottom: 60px;
}
.todo-create-container {
  margin: 10px 0;
}

.task-tracker-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.task-tracker {
  color: var(--textColor);
  font-size: 24px;
  user-select: none;
}

.btn {
  padding: 7px 15px;
  border-radius: var(--buttonRadius);
  outline: none;
  background-color: transparent;
  color: var(--textColor);
  border: 1px solid var(--usefulOrange);
  transition: background-color 0.3s;
  font-size: 18px;
  cursor: pointer;
  margin-left: 15px;
}

.btn:hover {
  background-color: var(--usefulOrange);
}

.cancel {
  border: 1px solid var(--remove-btn-color);
  margin-left: 10px;
}

.cancel:hover {
  background: var(--remove-btn-color);
}

.edit {
  border: 1px solid #3ec300;
}
.edit:hover {
  background: #3ec300;
}
.margin {
  margin-left: 5px;
}
.task-tracker.light {
  --textColor: black;
}
.btn.light {
  --textColor: black;
}
.theme-button {
  border-radius: 4px;
  padding: 3px;
}
.theme-button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
  color: black;
}
.theme-button.dark {
  color: yellow;
}
.btns-container-add {
  display: flex;
  align-items: center;
  justify-content: center;
}
