.input {
	margin: 10px 0;
	display: block;
}

.label-box {
	display: block;
	color: var(--textColor);
	font-size: 18px;
}

.text-box {
	background-color: var(--inputBackground);
	outline: none;
	border: transparent;
	border-radius: var(--borderRadius);
	width: var(--inputWidth);
	height: var(--inputHeight);
	color: var(--textColor);
	padding: 0 5px;
}

.text-box:focus {
	border-bottom: 1px solid var(--inputHover);
}

.required {
	border-bottom: 1px solid var(--remove-btn-color);
}
